include CHANGELOG.md
include LICENSE
exclude .coverage
exclude .gitignore
exclude .pre-commit-config.yaml
recursive-include build_helpers *
include src/sspi/*.h
include src/sspi/*.pyx
include src/sspi/*.pxd
exclude src/sspi/*.c
recursive-include stubs *
recursive-include tests *
recursive-exclude tests *.pyc