include CHANGELOG.md
include LICENSE
exclude .coverage
exclude .gitignore
exclude .pre-commit-config.yaml
recursive-include build_helpers *
include src/sspilib/raw/*.h
include src/sspilib/raw/*.pyx
include src/sspilib/raw/*.pxd
exclude src/sspilib/raw/*.c
recursive-include stubs *
recursive-include tests *
recursive-exclude tests *.pyc