name: Test pysspi
on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

  release:
    types:
    - published

jobs:
  build_sdist:
    name: build sdist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: build sdist
      run: |
        python -m pip install build
        python -m build --sdist
      env:
        SSPI_SKIP_EXTENSIONS: true

    - uses: actions/upload-artifact@v3
      with:
        name: artifact
        path: ./dist/*.tar.gz

  build_wheels:
    name: build wheels
    needs:
    - build_sdist

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - windows-2022
        version:
        - cp38-win_amd64
        - cp38-win32
        - cp39-win_amd64
        - cp39-win32
        - cp310-win_amd64
        - cp310-win32
        - cp311-win_amd64
        - cp311-win32
        - cp312-win_amd64
        - cp312-win32

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: ./

    - name: extract sdist
      shell: bash
      run: |
        tar xf sspi-*.tar.gz
        mv sspi-*/* .
        rm -r sspi-*/
        rm sspi-*.tar.gz

    - name: build wheel
      uses: pypa/cibuildwheel@v2.15.0
      env:
        CIBW_ARCHS: all
        CIBW_BUILD: ${{ matrix.version }}
        CIBW_BUILD_VERBOSITY: 1
        CIBW_PRERELEASE_PYTHONS: ${{ matrix.prerelease || 'false' }}

    - uses: actions/upload-artifact@v3
      with:
        path: ./wheelhouse/*.whl
        name: artifact

  test:
    name: test
    needs:
    - build_sdist
    - build_wheels

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - windows-latest
        python-version:
        - 3.8
        - 3.9
        - '3.10'
        - '3.11'
        - '3.12.0-rc.1'
        python-arch:
        - x86
        - x64

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.python-arch }}

    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: ./dist

    - name: Test
      shell: bash
      run: build_helpers/run-ci.sh
      env:
        PYTEST_ADDOPTS: --color=yes

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: Unit Test Results (${{ matrix.os }} ${{ matrix.python-version }}) ${{ matrix.python-arch }}
        path: ./junit/test-results.xml

  publish:
    name: publish
    needs:
    - test
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: ./dist

    - name: Publish
      if: startsWith(github.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@release/v1
